{% extends "front/base.html" %}

{% set page = "changemsg" %}

{% block front_content %}

<div class="container">
    <h1> Front Messages </h1>
    <form role="form" action="/admin/changemessages" method="post">
  		<div class="form-group">
    		<label for="inputColor">Frontpage Text</label>
    		<textarea class="form-control fullwidth" id="front_message" placeholder="Blame Nepeat" name="front_message">{% if front_message %} {{front_message}} {% endif %}</textarea>
  		</div>
  		<button type="submit" class="btn btn-default">Change</button>
	</form>

</div>

{% endblock %}
