
/* Global*/

body {
    font-family: Courier New, Monospace;
    font-size: 12px;
    background-color: #cccccc;
    background-attachment: fixed;
    background-image: none;
    /*main one: http://i.imgur.com/1gA5miD.jpg*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    word-wrap: break-word;
}
