{% import 'include/macros.html' as macros %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{url_for('static', filename='favicon.png?1')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png?1')}}">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='favicon.png?1')}}">

        <title>{%block title %}{% endblock %}rp.tc (Alpha)</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block header %}{% endblock %}

    </head>

    <body>
        {% block content %}{% endblock %}

        <!-- Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48753920-1', 'auto');
          ga('send', 'pageview');
        </script>

        <!-- Scripts -->
        {% if legacy_bbcode %}
        <script>window.legacy_bbcode = true;</script>
        {% endif %}
        {% if config.DEBUG %}
        <!-- Debug mode is active. -->
        <script src="/static/vendor/requirejs/require.js?1"></script>
        <script src="/static/js/config.js?1"></script>
        <script>
                require.config({urlArgs: "debug=" + (new Date()).getTime()});
                window.debug = true;
        </script>
        {% else %}
        <script src="{{url_for('static', filename='js/app.min.js?1')}}"></script>
        {% endif %}
        {% block scripts %}{% endblock %}
    </body>
</html>