{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/chat.min.css')}}">
{% endblock %}

{% block pager %}
{% if paginator.page_count!=1 %}
<div class="pager">
{{paginator.pager(format='~20~')|safe}}
</div>
{% endif %}
{% endblock %}

{% block content %}

{{ self.pager() }}

<div id="archiveConversation">
{% if messages|length!=0 %}
{% import datetetime % }
{% set last_date = datetime.date(1, 1, 1) %}
{% for message in messages %}
{% set current_date = message['timestamp'].date() %}

{% if current_date.strftime("%A %d %B %Y")!=last_date.strftime("%A %d %B %Y") %}
    <h1>{{current_date.strftime("%A %d %B %Y")}}</h1>
{% set last_date = current_date %}
{% endif %}
	{{macros.render_message(message)}}
{% endfor %}
{% else %}
	<p>There isn't a log for this chat - either it hasn't existed long enough to be archived or I've screwed up the archiving system yet again. Chats are archived after about half an hour, so if you're still seeing this message after that then please send a series of <em>very angry</em> asks to eggyeggegg.tumblr.com.</p>
{% endif %}
	<p><a href="/chat/{{chat}}">Continue this chat</a></p>
</div>

{{ self.pager() }}

{% endblock %}


{% block scripts %}
<script>
	require(['erigam'], function(erigam) {
		erigam.logpage({{chat|tojson|safe}});
	});
</script>
{% endblock %}