{% macro render_message(message) -%}
	{% if message.counter== -1 %}
		{% set class = "system" %}
	{% elif message.counter== -2 %}
		{% set class = "system_important" %}
	{% else %}
		{% set class = "user" ~ message.counter %}
	{% endif %}
	<p class="{{class}} {{"admin" if message.admin}} message" title="{{class}}" style="color: #{{message.color}}">
		<span class="text">{% if message.acronym %}{{message.acronym}}: {% endif %}{{message.text}}</span>
		<span class="timestamp">{{message.timestamp.strftime('%X')}}</span>
	</p>
{%- endmacro %}