{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="/static/colorpicker/css/colorpicker.css" />
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/home.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div id="container">
<div class="logo">
	<div class="image"><a href="/"><img src="/static/img/spacer.gif"></a></div>
</div>
<div id="charbar" >
</div>
<div id="navbar">
</div>
<ul id="nav">
	<li class="menubutton">
	<span> &#x22EE;  Menu </span>
 </li>
 <!-- ### Links need inserting here to populate the menu -->
	<li>
		<a class="rules" href="https://guides.mxrp.chat/rules.html" target="_blank">Rules
		</a>
	</li>
	<li>
		<a class="groups new{{' active' if page == 'groups'}}" href="{{url_for('main.get_chats')}}">Groups
		</a>
	</li>
	{% if g.user and g.user.globalmod %}
    <li>
		<div class="dropdown" tabindex="1">
			<i class="db2" tabindex="1"></i><a class="dropbtn">Admin</a>
			<div class="dropdown-content"><i class="db3" tabindex="1"></i>
				<a {% if page == 'allchats' %}class="active"{% endif %} href="{{url_for('admin.all_chats')}}">All Chats</a>
                <a {% if page == 'changemsg' %}class="active"{% endif %} href="{{url_for('admin.messages')}}">Front Message</a>
                <a {% if page == 'broadcast' %}class="active"{% endif %} href="{{url_for('admin.broadcast')}}">Broadcast</a>
                <a {% if page == 'allbans' %}class="active"{% endif %} href="{{url_for('admin.all_bans')}}">All Bans</a>
                <a {% if page == 'panda' %}class="active"{% endif %} href="{{url_for('admin.panda')}}">Panda</a>
                <a {% if page == 'vpnbans' %}class="active"{% endif %} href="{{url_for('admin.vpn_bans')}}">VPN Bans</a>
			</div>
		</div>
    </li>
    {% endif %}
</ul>
{% block front_content %}
{% endblock %}
{% endblock %}
