{% extends "front/base.html" %}

{% set page = 'groups' %}

{% block front_content %}
<div class="opting group_chat">
    <center>
        <div class="form-group">
            <input class="form-control groups" type="text" name="chaturl" id="groupsub" placeholder="Chat URL" maxlength="100">
        </div>
        <div class="form-group">
            <input class="form-control groups btn btn-primary" id="groupbut" type="submit" name="create" value="Create Chat Room">
        </div>
        <div class="group_container">
            <h1>Public Groups</h1>
            <div class="active_container">
                {% for chat in active_pub if chat['total_online'] != 0 %}
                <div id="chat_{{chat['url']}}">
                    <h3 class="url"><a href="/chat/{{chat['url']}}">{{chat['url']}}</a></h3>
                    <p class="topic">{% if 'topic' in chat %} {{chat['topic']}} {% endif %}</p>
                    <p class="online">
                        <span class="num_active">Active: {{chat['active']}}</span>
                        <span class="num_idle">Idle: {{chat['idle']}}</span>
                        <p class="total">
                            <span class="num_total">Total: {{chat['active'] + chat['idle']}}</span>
                        </p>
                    </p>
                    {% if chat['nsfw'] == True %}
                    <p class="nsfw"> This chat is NSFW </p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </center>
</div>
{% endblock %}