{% extends "front/base.html" %}

{% set page = 'rules' %}

{% block front_content %}

<h1>Rules of Dreambubble</h1>
<h3>This page was last updated on 2nd September 2022.</h3>
<ol>
    <li>All users of the site must be aged 18 or over. No exceptions.</li>
    <li>Roleplaying of characters under the age of 18 in sexual scenarios is not allowed. Use of language, IC or OOC, that implies a character is not over 18 will not be tolerated.</li>
    <li>Roleplaying as real people (regardless of status as a public figure) is not allowed. Nor is using them in your refs.</li>
    <li>Roleplays where characters are of age, but mentally regress, or otherwise act, speak, or perform any other action in a way that may imply they're below the age of 18 ("ageplay") are not permitted.</li>
    <li>Roleplays where characters are of age, but physically regress to a state where they may look under 18 is not permitted.</li>
    <li>Characters being played must have an appearance - both described textually, and in any reference images - that is clearly of an adult.</li>
    <li>Any NSFW reference images must not give the impression of the character being under 18.</li>
    <li>The ubiquity of F-List usage on the site requires special considerations. As such, any reference images or kink lists on F-List are considered an extension of your character/prompt - for example, listing Underage Characters as something you're willing to do will be treated as hinting to your partner that you're up for it. Please ensure your character profiles linked on the site are compliant.</li>
    <li>Attempting to convince other users to break the rules because you won't report them is not allowed. Likewise, users who break the rules after their partners say this will be banned. Automated moderation tools are in use.</li>
    <li>Self insert roleplays are not allowed, nor is OOC dirty talk or nudes trading.</li>
    <li>Do not harass other users for their choice of character, scenario, or modifiers.</li>
    <li>Don't be rude in general. There's not a point to it.</li>
    <li>The character filters on the front page prevent you from running into characters you don't want to see. Likewise, it prevents people who don't want to see you from seeing you. If a fandom preset is added that your character is part of, you're required to update your character to use the new preset rather than the anonymous preset. A grace period of one week exists for this, after which it's punishable.</li>
    <li>Do not have SFW checked if your modifiers or references are NSFW.</li>
    <li>Attempting to move offsite to circumvent the rules (for example, Chatzy, Discord etc) will be treated as breaking the rule you were trying to circumvent. Moving to Discord as part of the natural progression of a friendship is not covered by this. Phrases such as "Would you like to move somewhere we can be a little more open?" is covered by this.</li>
    <li>Reports are to be used only for events that take place on the site. Discord screenshots will not be considered.</li>
    <li>Deliberately triggering Spamless - whether through actual spamming or name change - is not permitted.</li>
</ol>
<p>
    As with all sites, following the rules are not optional, and will result in a ban if broken.<br><br>
The moderation staff are not responsible for the content users post, but anything contravening these rules should be reported so it can be removed.<br>
You are responsible for your own experience on the site, including using the tools available to filter out content you don't want to see.<br><br>
Ignorance is not considered a valid excuse for breaking these rules, and a delay in enforcement does not constitute a waiver of the rule.<br>
Moderation staff are not required to inform you of the ban reason.<br><br>
Users are encouraged to report violations they see in case the automated mod tools miss it.<br>
To do this, simply click the 'Report' button on the bottom of the chat page and follow the provided instructions - a moderator will check the chat.<br>
If you are in a situation where immediate action is necessary, you may also attempt to bring attention to the chat right away by posting a message with the phase "modsummon" in it.<br>
Should a mod not show up in a timely manner then please use the report button as described above.<br><br>
All rules are subject to be modified, updated, removed, or new rules added at any time in response to site climate, regulation, hosting provider policy updates, or legal demand.
</p>

{% endblock %}