body {
	padding-top: 20px;
	padding-bottom: 20px;
}

#chardrop, 
#datadrop {
	width: 100%;
}

#coln, #ailin, #usingname, #prei, #sufi, #casing, #replacementList,
#para, #nsfwsfw, #tags, #save, .buttonlinka, .quirks, .chatbuttons,
.groups {
	width: auto;
}

.quirks {
	display: inline-block;
	margin: 5px;
}

#groupsub {
	display: inline-block;
}

#decryptChar {
	display: inline-block;
}

.opting {
    padding: 1em;
    display: none;
}

.sopting {
    display: block;
}

.selfie {
	width: 125px;
	height: 100px;
	border: solid 2px;
}

.mainjumbo {
	background-color: #D2E0FF;
	color: #043174;
}

label {
	color: #043174;
}
