body {
	padding-top: 20px;
	padding-bottom: 20px;
}

body, .navbar-default .navbar-nav>li>a {
    color: #2b0057;
}

.quirks {
	display: inline-block;
	margin: 5px;
}

#groupsub {
	display: inline-block;
}

.opting {
    padding: 1em;
    display: none;
}

.sopting {
    display: block;
}

/* Navbar */

.navbar-rptc {
    background-color: #2b0057;
}

.navbar-rptc a {
    color: white;
}

.navbar-rptc .navbar-nav>.active>a,
.navbar-rptc .navbar-nav>.active>a:hover,
.navbar-rptc .navbar-nav>.active>a:focus,
.navbar-rptc .navbar-nav a:hover {
	background-color: #440a7f;
}

.navbar-toggle {
	background-color: rgb(68, 10, 127);
}

.icon-bar {
	background-color: rgb(152, 152, 152);
}

/* Jumbotron */

.jumbotron {
    background-color: rgb(220,201,255);
}

#topquote {
	font-size: 50%;
}

/* Forms */

.form-control {
	width: auto;
}

.btn-primary, .btn-primary:focus {
	background-color: #2b0057;
	border: none;
}

.btn-primary:hover {
	background-color: #945AD0;
	border: none;
}

.btn-danger, .btn-danger:focus {
	background-color: #89338B;
	border: none;
}

.btn-danger:hover {
	background-color: #F350F7;
	border: none;
}
