body {
	padding-top: 20px;
	padding-bottom: 20px;
}

#chardrop, 
#datadrop {
	width: 100%;
}

.quirks {
	display: inline-block;
	margin: 5px;
}

#groupsub {
	display: inline-block;
}

.opting {
    padding: 1em;
    display: none;
}

.sopting {
    display: block;
}

label {
	color: #043174;
}
