body {
	padding-top: 20px;
	padding-bottom: 20px;
}

body, .navbar-default .navbar-nav>li>a {
    color: #2b0057;
}

.quirks {
	display: inline-block;
	margin: 5px;
}

#groupsub {
	display: inline-block;
}

.opting {
    padding: 1em;
    display: none;
}

.sopting {
    display: block;
}

/* Navbar */

.navbar-rptc {
    background-color: #2b0057;
}

.navbar-rptc a {
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: rgb(220,201,255);
}

/* Forms */

.form-control {
	width: auto;
}

.btn-primary, .btn-primary:focus {
	background-color: #2b0057;
	border: none;
}

.btn-primary:hover {
	background-color: #945AD0;
	border: none;
}