<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<style type="text/css">
* {font-family:"Courier New";background-color:black;color:white;}
.result {color: green;}
ul {color: lightgreen;}
li {color: lightgreen;}
</style>
<body>
<p> Chat Background Administration </p>
<p class=result> {{"Result: " + result if result !=None else "Result: space rulez (aka this is better than seeing just None \o/)"}} </p>
<ul>
{% for line in lines %}
	<li><a href="http://erigam.tk/chat/{{line}}"> {{line}}</a>
	<ul> <li><a href="/admin/background_ajax?action=remove&id={{line}}">Remove</a></ul></li>
	<ul> <li> {{g.redis.hget('chat.'+line+'.meta', 'background')}} </ul></li>
	</li> 
{% endfor %}
</li>
<p> Add Chat </p>
<form action="/admin/background_ajax" method="get">
<input type="hidden" name="action" value="add">
Chat: <input type="text" name="id">
<br>
Background: <input type="text" name="bg">
<input type="submit" value="Submit">
</form>

</body>
</html>
